/* Main properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#009688 15%, #dbdbd2 15% 100%);
    padding: 25px 0;
}

.flex {
    display: flex;
}

.dark-grey {
    color: #a0a0a0;
}

.wrapper .fas,
.wrapper .far,
.user img,
.contact-item ul li {
    cursor: pointer;
}

/* Main container */
.main-container {
    flex-basis: 1200px;
    height: calc(100vh - 50px);
}

/* Sidebar */
.sidebar {
    flex-direction: column;
    flex-basis: 35%;
    background-color: #eaeaea;
}

/* User */
.user {
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #b1b1b1;
}

.user-avatar {
    align-items: center;
}

.user-avatar img {
    height: 50px;
    border-radius: 50%;
    margin: 12px;
}

.nav ul {
    justify-content: center;
    padding-right: 10px;
}

.nav ul li {
    list-style: none;
    margin: 0 8px;
}

/* Notifications */
.notifications {
    align-items: center;
    background-color: #8edafc;
}

.left-not {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    background-color: #fff;
    padding: 20px;
}

.left-not .fa-bell-slash {
    font-size: 20px;
    color: #8edafc;
}

.right-not p {
    margin-bottom: 3px;
}

/* SearchBar */
.searchbar {
    background-color: #f3eeea;
    width: 100%;
    padding: 6px 8px;
}

.input-container {
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.input-container .fa-search {
    padding: 5px 10px;
}

.searchbar input {
    padding: 10px 10px 10px 15px;
    width: 100%;
    background-color: #fff;
    border: none;
    border-left: 1px solid #b1b1b1;
}

/* Contacts */
.contacts {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact-item {
    background-color: #fff;
}

.contact-item img {
    height: 50px;
    border-radius: 50%;
    margin: 10px 15px;
}

.contact-item ul {    
    width: 100%;
    list-style: none;
}

.contact-item ul li {    
    border-bottom: 1px solid #eaeaea;
}

.contact-item ul li:hover {
    background-color: #d5f9ba;
}

.contact-name p {
    padding-top: 10px;
}

/* Chats container */
.chats {
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 65%;
    background-image: url(../img/mine.jpg);
    background-size: contain;
}

/* Upper user details */
.chats .user,
.chats .type-message {
    background-color: #eaeaea;
}

/* Main chat */
.chat {
    height: 100%;
    padding: 30px 50px;
    overflow-y: auto;
}

.chat ul {
    flex-direction: column;
    list-style: none;
}

.message {
    width: 45%;
    position: relative;    
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px 20px 20px;
}

.received {
    background-color: #fff;
}

.sent {
    align-self: flex-end;
}

.selected,
.sent {
    background-color: #d5f9ba;
}

.message p:first-child {
    padding-bottom: 5px ;
}

.message-info {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 5px 5px;
    font-size: 10px;
    color: #7a7a7a;
}

.message .fas {
    visibility: hidden;
    position: absolute;
    right: 3%;
    font-size: 15px;
}

.message:hover .fas {
    visibility: visible;
}

/* Type message */
.type-message {
    justify-content: center;
    align-items: center;
    height: 65px;
    padding: 10px 0;
}

.left-emoji,
.right-emoji {
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    color: #6b7376;
    font-size: 20px;
}

.type-message input {
    flex-basis: 80%;
    height: 45px;
    border: none;
}